# 1교시 기본 입출력

##1.주석

주석(Comment) - 가장 중요하면서도 가장 많이 잊어버리는 것. 만약에 코드가 100줄 이상되는것이 주어졌는데 아무런 설명이 없다면 개인적으로도 당황스럽고, 업무적으로도 다시 그 코드를 분석하기 위해 시간이 낭비될 수 있음

주석은 보통 코드가 어떤 내용을 포함하고 있는지. 이 문장이 의미하는 것이 무엇인지? 왜 이렇게 썼는지? 주의할점은 없는지? 추가로 알아야할 내용이 있는지? 에 대한 이정표 역할을 하게 됩니다.

주석은 프로그램을 사용하는데 아무런 영향을 끼치지는 않지만 사실 많은 줄의 코드보다 더 도움이 되는건 한 줄의 주석이 될 수 있기 때문에 앞으로도 주석은 잘 사용해야합니다.**굵은 텍스트**

In [1]:
#1. 주석 복습

# 1.1.1 주석 실습 - 예제 1

# 행 단위 주석입니다.

In [2]:
"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""
print("Hello world")

Hello world

In [3]:
'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

## 파이썬 스타일 코드 대표 가이드라인

* 1. 들여쓰기는 공백 문자 네 개로 하자.
* 2. 한줄의 최대 글자는 79자로 한다.
* 3. 최상위 함수와 클래스 정의들은 두 줄씩 띄우자.
* 4. 파일은 UTF-8 또는 아스키(ASCII)로 인코딩하자.
* 5. 한 import 문에선 모듈 하나만 불러온다.
* 6. 소괄호나 중괄호, 대괄호 사이에 추가로 공백을 주지 말고, 쉼표 안에도 공백을 주지 말자,
* 7. 클래스 이름은 카멜케이스(CamelCase)를 따르자.
* 8. 예외명은 Error로 끝내자.
* 9. 함수 이름은 separated_by_underscores처럼 소문자와 밑줄 문자(_)를 이용해서 짓자.
* 10. 비공개인 속성이나 메서드 이름은 밑줄 문자로 시작하자(_private).

항상 이렇게 하라 라기 보다는 일종의 규약 가이드로써 향후 팀 프로젝트시 이러한 규칙들을 따른다면 오류를 줄이고, 가독성과 유지보수가 편해지기 때문에 한번 알아볼 것임

결국 사람의 시간을 가장 효율적으로 사용하기 위한 가이드라인

* 파이썬의 철학 : 인간의 시간이 컴퓨터 보다 중요하다.
* 결국 중요한건 일관성이다.

### 1.1 블럭 주석

* 바로 뒤에 오는 코드를 설명하고
* 주석 내용이 다루는 코드와 동일한 들여쓰기 레벨에서 표기한다.
* 한개의 #을 달고 주석을 기록한다.

###1.2 인라인 주석

* 코드와 같은 줄에 기록
* #을 붙인 후 내용 기록
* 코드와 적어도 두칸 이상 분리한다.

In [ ]:
# 예제 1.1
# 유저의 이름을 입력받고, 문자형이 아닌것을 주의하세요.
user_input = input("유저 이름을 입력하세요")
normalized_data = normalized_data(user_input)

In [ ]:
# ex1.1.2

연봉_인센포함 = 초기연봉 * 1.02   # 초기연봉에 2% 상승된 것이 인센포함된 연봉(23.05.01) 변경시 수정 바람

###1.3 문서 형태 주석

* 모듈, 클래스, 함수, 메소드 등 정보를 제공하는 용도 docstring이라고 함
* 다른 주석과 달리 쌍따옴표나 따옴표 3개로 구성
* 함수 바로 밑에 내용을 적는다.
* 여러줄로도 적을수 있다.

In [ ]:
#1.1.3 문서 주석 - 한줄 형태

def quicksort():
""" Quicksort를 사용하여 보다 빠르게 정렬하는 함수 """

#1.1.3 문서 주석 - 두줄 이상 형태

def salary_increase(salary, percentage, rating):
    """ 성과에 의한 연봉 변화 함수
    1 - 2등급 - 연봉 10% 상승
    3 - 4등급 - 연봉 5%  상승
    5 - 6등급 - 연봉 동결
    7 - 10등급 - 연봉 5% 삭감

##2. 레이아웃

[임포트]
* import는 가장 위에 기록 한다.
* 한줄에 하나씩 쓰는것을 추천한다.

[들여쓰기]
* 들여쓰기는 4칸씩 띄어쓰기를 꼭 지킨다. - Tab을 활용해도 되지만 통일 필요 (수업때는 Tab)
* 함수의 줄 바꿈시에는 구분이 가능하도록 한다.

[탭과 스페이스]
* 탭보다는 스페이스를 사용하도록 노력하고, 섞어서 쓰지 말자

[글자 길이 / 줄 바꿈]
* 주석은 72자정도 / 최대 글자수는 79자 정도로 제한하는 것이 좋음

[빈줄 넣기]
* 일반적으로 클래스나 함수는 두줄로 분리해서 구분하기 좋게 한다.
* 그러나 클래스나 함수 안에 함수는 논리적으로 구분이 되는 부분에서 한줄을 띄워도 좋다.

[연산하는 경우]
* 연산을 많이 할 경우에는 옆으로 글을 이어나가는 것보다는 밑으로 추가한다.)

In [ ]:
# 2.1 import 예시

# 좋은 예
import os
import pandas as pd
import sklearn

# 안좋은 예시

import os, sys, pandas
from pandas import * # wildcard 사용은 소스의 모호함을 증가시켜 오류를 발생시킬수도 있음

In [ ]:
# 2.2 띄어쓰기 / # 2.3 탭과 스페이스

# 기본 띄어쓰기 - 둘다 실행은 된다.
for i in range(1, 10):
  print(i) # Tab

for i in range(1, 10):
    print(i) # 띄어쓰기 4칸 

# 파라미터가 여러가지 인 경우
# 좋은 예시
sample_def(var1, var2
          var3, var4) #일반적인 툴에서는 다음과 같이 enter를 사용하는 경우 띄어지게 된다.

# 안좋은 예시 - 가독성이 떨어진다.
sample_def(var1, var2
  var3, var4)

In [ ]:
# 2.6 연산하는 경우
# 좋은 예시
sum_variable = (val1
                + val2
                +_val3
                + val4)

##3. 파이썬 스타일 작명

[상수]
* 이름이 길어지면 underbar(_)로 구분한다.
* 대문자로 작성

[패키지/모듈]
* 가급적 짧고 알기 쉽게 만든다.
* 패키지나 모듈 이름은 모두 소문자로만 작성한다.
* 모듈 이름이 만약 길어지면 underbar(_)로 구분한다.
* 패키지 이름에는 underbar사용 자제

[클래스]
* 클래스 이름은 CamelCase(단어 첫부분은 대문자)로 작성

[메소드] 
* 메소드 이름은 snake_tail방식으로 작성하고 단어별 underbar(_)로 구분한다.
* 인스턴스 메소드의 첫번째인자는 항상 self로 시작한다.
* 클래스 메소드의 첫번째 인자는 항상 cls로 시작한다.

In [ ]:
# 왠만하면 한글을 사랑해도 한글 변수명은 자제

# 3.1 상수/함수/변수

#[상수] 모두 대문자
PI = 3.14
LONG_CONSTANT_EXAMPLE = 12345678

#[함수/변수]
#snake case
my_age = 43

(good) def python_function_name(arg1, arg2):
(bad) def PythonFunctionName(arg1, arg2):

# 3.2 모듈 (snake case 허용)
# 패키지 이름
(good) import mypackage
(good) import modulename
(bad) import ModuleName
(bad) import module_name



# 3.3 클래스(Pascal case)
# Class 예
class MyClass:
    pass

# 3.4 메소드
class MyClass:
  '''인스턴스 메소드 메소드'''
  def instance_method(self, var1, var2):
    pass

  '''클래스 메소드'''
  def class_method(cls, var1, var2):
    pass

##4. 공백문자

* 할당을 할 경우에는 공백 하나만 사용
* 앞 뒤로 공백 한개씩만 사용하자
* 괄호와 콜론 앞/뒤로는 공백을 주지 말자

In [ ]:
# 4.1 할당

# Good

x = 1
y = 2
long_variable = 3

# Bad

x             = 1
y             = 2
long_variable = 3

# 4.2 앞 뒤로 공백 1개씩

# Good

i = i + 1
submitted += 1
x = x*2 - 1

# Bad 

i=i+1
submitted +=1
x = x * 2 - 1

# 4.3 괄호, 콜론 앞/뒤로는 공백을 주지 않습니다.

# Good
router(1)
router[1:3]
server['centOs']
Class MyClass:

# bad

router (1)
router[1: 3]
server ['centos']
Class MyRouter :

## 기본 입출력

* 변수 -> X = 10이라는 코드가 있을때 10을 x로 할당한다고 한다. 변수에는 숫자, 문자등 다양한 자료형태가 들어갈수 있으며, 자료형태 확인은 type함수를 통해 확인할 수 있다.
* input -> input()함수로 데이터를 입력하면 자료를 입력받는 함수 - 기본으로는 문자형을 입력받는다. 
* print -> print()함수로 데이터를 출력하는 함수

In [ ]:
#01-1. 본인 이름 출력 하기 - Input 문자형(기본)

print(f'본인 이름을 입력 하세요')
my_name = input()
print(f"제 이름은 {my_name} 입니다.")

In [ ]:
#01-2. 두 숫자의 합 구하기 - Input 숫자형

print(f"두 숫자의 합을 구하기 입니다.")
sum_1 = int(input("첫번째 숫자를 입력하세요"))
sum_2 = int(input("두번째 숫자를 입력하세요"))
# input은 기본적으로 문자형을 받기 때문에 숫자형쓰고 싶으면 int, float
print(sum_1 + sum_2)

In [ ]:
#02-1. print 복습

# print('3. 제 이름은' ,이름 , '입니다.','제 나이는', 나이, '입니다.')
# print('3. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))

name = "최선경"
age = 33
print(f"제 이름은 {name} 이고, 나이는 {age}입니다.")
print(f"제 이름은 {name} 이고, 나이는 {age}입니다.", end="!!!\n")

In [ ]:
pip install openai

In [ ]:
import os
import openai

In [ ]:
openai.api_key = "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"

question = input("무엇을 물어볼까요?:")

completion = openai.ChatCompletion.create(
  model="gpt-3.5-turbo",
  messages=[
    {"role": "user", "content": question}
  ]
)

print(completion.choices[0].message.content)

In [ ]:
def chatgpt(question):
  # question = input("무엇을 물어볼까요?:")

  completion = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[
      {"role": "user", "content": question}
    ]
  )

  print(completion.choices[0].message.content)

In [ ]:
chatgpt("chatgpt란?")

In [ ]:
name = "최선경"
age = 33
mbti = "ESTJ"
character = "사교적이고 세심한 편입니다"
major = "법학"
interesting = "모빌리티, 이커머스"
etc = "앞으로 잘 부탁드립니다"

print(f"안녕하세요 저는 {name}입니다. 나이는 {age}세 입니다.")
print(f"저의 MBTI는 {mbti}이고 성격은 {character} ")
print(f"저의 전공은 {major}이고 현재 관심분야는 {interesting} 입니다.")
print(f"{etc}")

## 기본 입출력 - 추가

In [ ]:
# 숫자를 문자열로 바꾸기

ex1 = 52
ex1_str = str(52)

print(f"ex1은 {ex1}입니다.")
print(f"ex1은 {ex1_str}입니다.")

print(type(ex1))
print(type(ex1_str))

In [ ]:
# 문자를 숫자로 바꾸기

ex2_str_int = int(ex1_str)

print(f"ex1_str은 {ex1_str}입니다.")
print(f"ex2_str_int은 {ex2_str_int}입니다.")

print(type(ex1_str))
print(type(ex2_str_int))

In [ ]:
# 문자열 자르기 : split()

a = "10 20 30 40 50".split(" ")
print(a)

In [ ]:
# 문자열과 In 연산자

print("멋쟁이" in "멋쟁이 사자처럼")
print("위니브" in "멋쟁이 사자처럼")

In [ ]:
# 문자열과 find함수
ex3 = "멋쟁이 사자처럼"
print(ex3.find("사자"))

In [ ]:
# 공백 제거
# txt, csv -> python "멋쟁이 사자처럼" -> "  멋쟁이 사자처럼"

ex4 = "  안녕하세요 멋쟁이 사자처럼 입니다."
print(ex4)

In [ ]:
#strip

print(ex4.strip())

## Random 함수의 활용

데이터 분석시에 무작위 테스트를 하거나 샘플을 뽑고 싶을때 사용 -> 굉장히 많이 사용

In [ ]:
# Random 함수 사용
import random

In [ ]:
# 1. random 함수의 기본 사용

random.random()

In [ ]:
# 어디서 부터 어디까지의 숫자 뽑아줘 (실수)
random.uniform(1, 10)

In [ ]:
# 어디서 부터 어디까지의 숫자 뽑아줘 (정수)
random.randint(1, 10)

In [ ]:
# 짝수만 뽑아줘 / 홀수만 뽑아줘
# randrange

random.randrange(0, 101, 2) # 짝수

In [ ]:
# 짝수만 뽑아줘 / 홀수만 뽑아줘
# randrange

random.randrange(1, 101, 2) # 홀수

In [ ]:
# 랜덤하게 하나의 원소를 선택합니다. Choice
random.choice('Hello')

In [ ]:
random.choice(['바나나','사과','오렌지'])

In [ ]:
# 랜덤하게 여러 원소를 출력합니다.
random.sample([1,2,3,4,5], 3)

In [ ]:
random.sample(range(1,5), 3)

In [ ]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기

random.sample(range(1,46), 6)

In [ ]:
# shuffle 함수

items = [1,2,3,4,5]
random.shuffle(items)
print(items)

In [ ]:
# 실습 1. 로또번호 1~45번까지 6개 번호 추출해보기
# seed 고정

random.seed(730)
lucky = random.sample(range(1,46), 6)

print(f"이번주 당첨 로또번호는 {lucky} 입니다.")

In [ ]:
#.실습 2. 보드게임 주사위 2개 던지기 -> 난수 추첨
# 랜덤으로 1부터 6까지 숫자를 생성해서

# die1 die2 합을 출력하는 프로그램을 만드세요

dice1 = random.sample(range(1,7),1)
dice2 = random.sample(range(1,7),1)

sum_dice = dice1 + dice2

print(f"첫번째 주사위는 {dice1} (이)가 나왔습니다.")
print(f"두번째 주사위는 {dice2} (이)가 나왔습니다.")
print(f"두 개 주사위의 합은 {sum_dice} 입니다.")

In [ ]:
#. 실습 3. 오늘의 점심 메뉴 
# -> 리스트로 가져와서 오늘 먹을 점심메뉴를 선택하는 
# 랜덤 프로그램을 만들어보세요

lunch = ['초밥', '된장찌개', '마라샹궈', '마라탕', '삼선짜장']
pick = random.choice(lunch)

print(f"오늘의 점메추 : {pick}")

In [ ]:
# 실습 4. 가위바위보 게임 만들기
# 컴퓨터 낸거는 랜덤으로 바뀌어야 함

com = ['가위','바위','보']
com1 = random.choice(com)

me = input("무엇을 내시겠습니까? ")

print(f"컴퓨터는 {com1}을(를) 냈습니다.")
print(f"나는 {me}을(를) 냈습니다.")

## 시간 함수

In [ ]:
# time 함수

import time

In [ ]:
time.time()

In [ ]:
time.ctime()

In [ ]:
time.localtime()

In [ ]:
import datetime

In [ ]:
datetime.datetime

In [ ]:
from datetime import datetime

In [ ]:
now = datetime.now()

In [ ]:
#현재 날짜
print(f"현재 날짜은 {now.date()}")

In [ ]:
#현재 시간  # 한국 시간 설정 전
print(f"현재 시간은 {now.time()}")

In [ ]:
# 현재 연도
print(f"현재 연도는 {now.year}")

In [ ]:
# 현재 월
print(f"현재 월은 {now.month}")
print(f"현재 일은 {now.day}")
# 시 hour 분 minute 초 second 요일 weekend

In [ ]:
import pytz

datetime.now(pytz.timezone('UTC'))

In [ ]:
datetime.now(pytz.timezone('Asia/Seoul'))

In [ ]:
from datetime import timedelta, timezone
datetime.now(timezone(timedelta(hours=9)))

In [ ]:
from datetime import datetime
from datetime import timedelta, timezone


now = datetime.now(timezone(timedelta(hours=9)))

print("현재 : ", now)
print("현재 날짜 : ", now.date())
print("현재 시간 : ", now.time())
print("timestamp : ", now.timestamp())
print("년 : ", now.year)
print("월 : ", now.month)
print("일 : ", now.day)
print("시 : ", now.hour)
print("분 : ", now.minute)
print("초 : ", now.second)
print("마이크로초 : ", now.microsecond)
print("요일 : ", now.weekday())
print("문자열 변환 : ", now.strftime('%Y-%m-%d %H:%M:%S'))

# Output
# 현재 :  2021-12-22 15:46:26.695840
# 현재 날짜 :  2021-12-22
# 현재 시간 :  15:46:26.695840
# timestamp :  1640155586.69584
# 년 :  2021
# 월 :  12
# 일 :  22
# 시 :  15
# 분 :  46
# 초 :  26
# 마이크로초 :  695840
# 요일 :  2
# 문자열 변환 :  2021-12-22 15:46:26

## 파이썬 멈추기

In [ ]:
import time     # sleep 함수 사용

In [ ]:
# 1. 초 단위 테스트
print('-' * 30)
now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S')) # 현재 시간 출력

time.sleep(5) # 5 초 딜레이

now = datetime.now(timezone(timedelta(hours=9)))
print(now.strftime('%H:%M:%S'))

time.sleep(10) # 10 초 딜레이

print(datetime.now().strftime('%H:%M:%S'))

# 2교시 자료구조

In [ ]:
# 1차원 리스트

a = [100000, 2, 1, 3]
print(type(a))

In [ ]:
b = 'leehojun'

print(type(b))

In [ ]:
b = list('leehojun')

In [ ]:
print(type(b))

In [ ]:
c = [[2]]

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]
    ]

In [ ]:
print(a)

In [ ]:
a[0]

In [ ]:
a[0][0]

In [ ]:
a[2][0][:3]

##1.1 리스트 복습

In [ ]:
#1.1.1 리스트 생성

List_01 = []
print(f"첫번째 리스트 예제의 값은 : {List_01}")

List_02 = list()
print(f"두번째 리스트 예제의 값은 : {List_02}")

In [ ]:
# 1.1.2 리스트 생성 - 여러 형태의 리스트

# 단일 자료형 리스트
List_03 = [10, 55, 20, 75]
print("세번째 리스트 예제의 값은 : " , List_03)

# 복합 자료형 리스트(문자, 숫자)
List_04 = [1000, 10000,'Lion', 'Weniv', 'Coding']
print("네번째 리스트 예제의 값은 : " , List_04)

# 복합 리스트 - 리스트 안에 리스트
List_05 = [1000, 10000, ['Lion', 'Weniv', 'Coding']]
print("다섯번째 리스트 예제의 값은 : " , List_05)

# 복합 자료형 리스트(3가지 이상)
List_06 = [54.42, 'not', 3, 4, False, 3.14159]
print("여섯번째 리스트 예제의 값은 : " , List_06)

In [ ]:
# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

In [ ]:
# 1.1.4 리스트 생성 - range

a = list(range(10))
print(a)

### 1.1.2 리스트 인덱싱/슬라이싱

리스트 인덱싱과 슬라이싱은 간단하지만 사용하다보면 헷갈릴 경우가 많습니다. 보통 데이터의 구조가 2차원 이상의 구조이고, 데이터를 정제하다보면 헷갈릴 경우가 많기 때문에 복습해보면서 잘 알아둡시다!

* 리스트 인덱싱 - 휴대폰 단축번호를 생각하면 쉬움 - 1번은 어머니  2번은 아버지 3번은 선생님
* 리스트 슬라이싱 - 휴대폰 그룹을 생각하면 쉬움 - 어머니,아버지는 가족 선생님,친구1은 학교

In [ ]:
# 리스트 인덱싱 예제

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

# 리스트 인덱싱
print(Phone_num[0])
print(Phone_num[2])

# 리스트 슬라이싱
# 리스트 슬라이싱때 맨 마지막 숫자 +1 주의
family = Phone_num[0:2]
school = Phone_num[2:4]

print(family)
print(school)

In [ ]:
score_all = [kor, math, eng]

print(score_all)

In [ ]:
# 2차원 리스트 인덱싱/슬라이싱

# 1.1.3 리스트 생성 - 이차원 리스트

kor = [10, 20, 30]
math = [30, 40, 50]
eng = [60, 70, 80]

score_all = [kor, math, eng]

print(score_all)

print(score_all[0][1]) # 국어 점수 / 2번째 학생
print(score_all[1][2]) # 수학 점수 / 3번째 학생

In [ ]:
# 리스트 갱신하기

# 휴대폰 번호 순서
Phone_num = ['어머니', '아버지', '선생님','친구1']

Phone_num[3] = '이모' #'친구1'이 '이모' 로 대체됨

print(Phone_num)

In [ ]:
# 리스트 슬라이싱을 활용, 결측값을 대체할 수 있음

# 숫자열
['어머니', '아버지', '선생님', '', '.', '.']

# 문자열
['어머니', '아버지', '선생님', '', '', '']

In [ ]:
# 리스트 갯수 파악하기

len(Phone_num)

###1.1.3 리스트 함수

주로 사용하는 리스트 함수에 대해 복습해봅시다.

[데이터 추가 함수]
* append() 리스트 맨 마지막에 인덱스 추가
* extend() 기존 리스트에 새로운 리스트를 합침
* insert() 특정 위치에 값을 추가

[데이터 제거 함수]
* pop() 리스트 끝에서 부터 하나씩 꺼내어 반환한 뒤 삭제
* remove() 리스트에 있는 특정값을 제거
* del - 특정 인덱스 위치에 있는 값을 제거
* clear() 리스트 안에 있는 원소를 다 비우는 함수

[데이터 정렬 함수]
* sort() 오름차순으로 정렬(내림차순의 경우 reverse = True)
* reverse() 값의 순서를 거꾸로 뒤집어서 사용

[데이터 중복 확인]
* count("특정값") 특정값이 몇개나 중복으로 있는지 체크 가능

[데이터 위치 확인]
* index()

In [ ]:
# 리스트 함수 실습
l = [1, 2, 3]
dir(l) # dir을 통해 사용할 수 있는 함수(메서드) 확인 가능

In [1]:
# 버스 승객 탑승 

# 리스트 함수를 사용해서 실습할 것
# 상황 1. 버스에 버스기사 아저씨가 탑승해서 운행가능 

bus = []
print(bus)

[]

In [2]:
# 상황 1. 버스기사 아저씨가 탑승을 하려면

bus.append('버스기사님')
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님']이(가) 타고 있어요!

In [3]:
# 상황 2. 버스에 철수가 탑승을 했다.

bus.append('철수')
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님', '철수']이(가) 타고 있어요!

In [4]:
# 상황 3. 선생님이 아이 3명을 데리고 탑승했어요.

children = ['선생님','아이1','아이2','아이3']
bus.extend(children)  # 이 때, append 함수로 추가할경우 children 리스트째로 추가되지만, 
                      # extend 를 쓰면 children 리스트 안의 요소만 추가 가능

print(f"현재 버스에는 {bus}이(가) 타고 있어요!")
print(f"그럼 몇명이 타고 있을까요? {len(bus)}명의 승객이 탑승중이네요:)")

현재 버스에는 ['버스기사님', '철수', '선생님', '아이1', '아이2', '아이3']이(가) 타고 있어요!
그럼 몇명이 타고 있을까요? 6명의 승객이 탑승중이네요:)

In [5]:
# 상황 4. 노인 한분이 탑승하셨어요
# insert()

bus.insert(1, '노인')  # append 는 리스트 맨 뒤로 추가, insert 는 삽입 위치 지정 추가 가능

In [6]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")
print(f"그럼 몇명이 타고 있을까요? {len(bus)}명의 승객이 탑승중이네요:)")

현재 버스에는 ['버스기사님', '노인', '철수', '선생님', '아이1', '아이2', '아이3']이(가) 타고 있어요!
그럼 몇명이 타고 있을까요? 7명의 승객이 탑승중이네요:)

In [7]:
# 아이의 위치 확인

child1 = bus.index('아이1')
print(child1)

4

In [8]:
bus

['버스기사님', '노인', '철수', '선생님', '아이1', '아이2', '아이3']

In [9]:
# 노인분이 내리고자 할때
bus.remove('노인')

print(f"현재 버스에는 {bus}이(가) 타고 있어요!")
print(f"그럼 몇명이 타고 있을까요? {len(bus)}명의 승객이 탑승중이네요:)")

현재 버스에는 ['버스기사님', '철수', '선생님', '아이1', '아이2', '아이3']이(가) 타고 있어요!
그럼 몇명이 타고 있을까요? 6명의 승객이 탑승중이네요:)

In [10]:
# 상황 6. 선생님이 아이들을 한명 한명 인원 체크를 하며 내리려고 하고 있어요.
# 인원체크 후에 선생님이 마지막으로 내릴거에요

bus.pop()

'아이3'

In [11]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님', '철수', '선생님', '아이1', '아이2']이(가) 타고 있어요!

In [12]:
bus.pop()

'아이2'

In [13]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님', '철수', '선생님', '아이1']이(가) 타고 있어요!

In [14]:
bus.pop()

'아이1'

In [15]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님', '철수', '선생님']이(가) 타고 있어요!

In [16]:
bus.pop()

'선생님'

In [17]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 ['버스기사님', '철수']이(가) 타고 있어요!

In [18]:
bus.clear()

In [19]:
print(f"현재 버스에는 {bus}이(가) 타고 있어요!")

현재 버스에는 []이(가) 타고 있어요!

In [20]:
bus

[]

###1.1.4 리스트 연산

[리스트 연산]

* 리스트 덧셈
* 리스트 곱셉
* in 연산

In [30]:
# 리스트 덧셈

company1 = ['멋쟁이사자처럼']
company2 = ['위니브']
company3 = ['테킷']

In [29]:
company_all =[company1 + company2 + company3]

In [36]:
company_all_01 = company1 + company2 + company3

In [31]:
print(company_all)

[['멋쟁이사자처럼', '위니브', '테킷']]

In [26]:
# 리스트 곱셈

company1 * 3

['멋쟁이사자처럼', '멋쟁이사자처럼', '멋쟁이사자처럼']

In [37]:
# 리스트내의 요소 찾기
'멋쟁이사자처럼' in company_all_01

True

In [39]:
# 연습문제 1. 정수 5개를 Input으로 리스트형태로 입력받아서 
# 평균을 내보기

aver_list = []

aver_list.append(int(input("정수를 입력하세요")))
aver_list.append(int(input("정수를 입력하세요")))
aver_list.append(int(input("정수를 입력하세요")))
aver_list.append(int(input("정수를 입력하세요")))
aver_list.append(int(input("정수를 입력하세요")))

print(aver_list)

print(f"정수 5개의 평균값은 {sum(aver_list)/len(aver_list)} 입니다.")

정수를 입력하세요40
정수를 입력하세요50
정수를 입력하세요60
정수를 입력하세요100
정수를 입력하세요20
[40, 50, 60, 100, 20]
정수 5개의 평균값은 54.0 입니다.

### 1.1.5 패킹과 언패킹

패킹과 언패킹은 일반적으로도 사용하지만 나중에 한번 더 언급하기로 하고 일단 개념에 대해 복습해보자

In [41]:
# 패킹
t = [1, 2, 3]

In [42]:
# 언패킹
a, b, c = t

In [43]:
print(t)

[1, 2, 3]

In [44]:
print(a)
print(b)
print(c)

1
2
3

### 1.1.6 리스트 컴프리 핸션

In [45]:
# 기본 리스트에 값 채워넣기

li = []

for i in range(5):
  li.append(i)

print(li)

[0, 1, 2, 3, 4]

In [46]:
# 1) 수식 적용

[i*10 for i in range(5)]

[0, 10, 20, 30, 40]

In [48]:
# 2) 조건문 적용
[i for i in range(5) if i % 2 == 0]

[0, 2, 4]

###1.1.7 다양한 방식의 리스트 출력

In [47]:
# enumerate()함수 인덱스를 붙여준다.
# 데이터 법이 많이 개정, 

for i, v in enumerate(['가위','바위','보']):
  print(i, v)

0 가위
1 바위
2 보

In [49]:
for i in ['가위','바위','보']:
  print(i)

가위
바위
보

In [50]:
# zip 함수

alist = ['가위','바위','보']
blist = ['바위','가위','보']

for a, b in zip(alist, blist):
  print(a,b)

가위 바위
바위 가위
보 보

In [51]:
for x, y in zip(range(10), range(10)):
  print(x, y)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9

In [52]:
dict_num = { x:y for x, y in zip(range(10),range(10))}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9}

In [53]:
#enumerate & zip 함수

alist = ['가위', '바위', '보']
blist = ['보', '가위', '바위']
for i, (a, b) in enumerate((zip(alist, blist))):
  print(i, a, b)

0 가위 보
1 바위 가위
2 보 바위

## 2.1. 튜플

In [55]:
# 튜플 생성 예제

tuple_sample = ()

In [56]:
type(tuple_sample)

tuple

In [57]:
# 튜플 생성 예제
cust_all = ("뉴진스","블랙핑크","아이브")
print(cust_all)

('뉴진스', '블랙핑크', '아이브')

In [58]:
cust_all_2 = ("뉴진스",)
print(cust_all_2)

('뉴진스',)

In [59]:
len(cust_all)

3

In [60]:
cust_all[1] = "SG워너비"  #tuple과 list의 가장 큰 차이. tuple은 추가나 수정 불가

TypeError: ignored

In [61]:
# 튜플 인덱싱
print(cust_all[0])

뉴진스

In [71]:
print(cust_all[0:2])

('뉴진스', '블랙핑크')

In [62]:
# 튜플 함수

b = (5, 2, 1, 2, 4)
print(b)
print(b.count(2))

(5, 2, 1, 2, 4)
2

In [64]:
# 튜플 연산

c = (6,7,8,9,10)

print('b + c', b + c)
print('c * 3', c * 3)

b + c (5, 2, 1, 2, 4, 6, 7, 8, 9, 10)
c * 3 (6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10)

In [65]:
t = ('a','b','c','d')

In [66]:
(x1, x2, x3, x4) = t

In [67]:
print(t, type(t))

('a', 'b', 'c', 'd') <class 'tuple'>

In [68]:
print(x1, type(x1))
print(x2, type(x2))
print(x3, type(x3))
print(x4, type(x4))

a <class 'str'>
b <class 'str'>
c <class 'str'>
d <class 'str'>

In [69]:
t2 = 1,2,3

In [70]:
print(t2, type(t2))

(1, 2, 3) <class 'tuple'>

##3.1 딕셔너리

In [ ]:
# 김진환 : 데이터 분석가 <- 딕셔너리 형식 (key : value)

In [72]:
# 딕셔너리 기초

x = {}        #딕셔너리 기본 생성 방법
y = dict()    #딕셔너리로 형변환 

print(x, type(x))
print(y, type(y))

{} <class 'dict'>
{} <class 'dict'>

In [73]:
a = {'name' : 'Seonkyung', "phone" : '01072970730'}

In [74]:
print(a, type(a))

{'name': 'Seonkyung', 'phone': '01072970730'} <class 'dict'>

In [76]:
b = {0: 'Hello Python'}
c = {'arr' : [1,2,3,4]}
d = {
    'Name' : 'Seonkyung',
    'City' : 'Seoul',
    'Age'  : 33,
    'Grade' : 'A',
    'Status' : True
}

In [77]:
# 딕셔너리에 값 추가

a = {'name' : 'Seonkyung', "phone" : '01072970730'}

a['address'] = 'Seoul'

print(a)

{'name': 'Seonkyung', 'phone': '01072970730', 'address': 'Seoul'}

In [78]:
# 딕셔너리의 개수
print(a, len(a))

{'name': 'Seonkyung', 'phone': '01072970730', 'address': 'Seoul'} 3

### 3.1.2 딕셔너리 함수

In [80]:
# Key 값만 가져오는
print(f'key 값은 {a.keys()} 입니다')

# Value 값만 가져오는
print(f'value 값은 {a.values()} 입니다')

# 전체 다 가져오는 함수
print(f'items 값은 {a.items()} 입니다')

key 값은 dict_keys(['name', 'phone', 'address']) 입니다
value 값은 dict_values(['Seonkyung', '01072970730', 'Seoul']) 입니다
items 값은 dict_items([('name', 'Seonkyung'), ('phone', '01072970730'), ('address', 'Seoul')]) 입니다

In [81]:
'name' in a.keys()

True

In [82]:
'Seonkyung' in a.values()

True

In [83]:
# 값 삭제
del a["name"]
print(a)

{'phone': '01072970730', 'address': 'Seoul'}

##4.세트(set)

In [85]:
# 세트 사용

empty_set = set()

In [86]:
print(empty_set, type(empty_set))

set() <class 'set'>

In [87]:
# 세트에 값 추가
python_set = set(['판다스','넘파이'])
print(python_set)

{'판다스', '넘파이'}

In [96]:
test_set = set('python')  # set 특징 : 중복을 허용하지 않는다, 순서가 없다.
print(test_set)

{'h', 'y', 'p', 'o', 'n', 't'}

In [89]:
# 세트 생성

Set_1 = {1,2,3}
print(Set_1)

# 요소 추가
Set_1.add(4)
print(Set_1)

# 여러자료 추가
Set_1.update([5,6,7,8,9,10])
print(Set_1)

# 요소 제거 - 특정 순서
Set_1.remove(1)
print(Set_1)

# 요소 제거 - 특정 값 삭제
Set_1.discard(10)
print(Set_1)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 3, 4, 5, 6, 7, 8, 9}

In [101]:
# 세트 연산

s1 = set(['파이썬', 'SAS', 'R', 'SQL'])
s2 = set(['파이썬', '파이토치', '텐서플로', 'SQL'])

print(s1.union(s2))  # 합집합

{'파이썬', 'R', '텐서플로', 'SQL', 'SAS', '파이토치'}

In [100]:
print(s1.intersection(s2))  # 교집합

{'파이썬', 'SQL'}

In [92]:
# Set -> LIST

s1 = set(["파이썬", "SAS", "R", "SQL"])

s1_list = list(s1)

print(s1, type(s1))
print(s1_list,type(s1_list))

{'SAS', '파이썬', 'SQL', 'R'} <class 'set'>
['SAS', '파이썬', 'SQL', 'R'] <class 'list'>

In [93]:
s1_list_tuple = tuple(s1_list)
print(s1_list_tuple, type(s1_list_tuple))

('SAS', '파이썬', 'SQL', 'R') <class 'tuple'>

In [94]:
s1_list_tuple_set = set(s1_list_tuple)
print(s1_list_tuple_set, type(s1_list_tuple_set))

{'SAS', '파이썬', 'SQL', 'R'} <class 'set'>

In [95]:
a = {'리스트' : ['순서 O','중복 O', '수정 O', '삭제 O' 'list(), []', 'ex1 = [1,2,3]'],
     '튜플' : ['순서 O', '중복 O', '수정 X', '삭제 X' '()', 'ex2 = (1,2,3)'],
     '딕셔너리' : ['순서 x', '(키)중복 x', '수정 O', '삭제 O' "dict([]), { : }}", "ex3 = {1 : ex]"],
     '세트' : ['순서 x', '중복 x', '수정 O', '삭제 O' "set(), "{}", "ex4 = {1,2,3}"]}

print(a.items())

print(a['리스트'])
print(a['튜플'])
print(a['딕셔너리'])
print(a['세트'])

dict_items([('리스트', ['순서 O', '중복 O', '수정 O', '삭제 Olist(), []', 'ex1 = [1,2,3]']), ('튜플', ['순서 O', '중복 O', '수정 X', '삭제 X()', 'ex2 = (1,2,3)']), ('딕셔너리', ['순서 x', '(키)중복 x', '수정 O', '삭제 Odict([]), { : }}', 'ex3 = {1 : ex]']), ('세트', ['순서 x', '중복 x', '수정 O', '삭제 Oset(), {}', 'ex4 = {1,2,3}'])])
['순서 O', '중복 O', '수정 O', '삭제 Olist(), []', 'ex1 = [1,2,3]']
['순서 O', '중복 O', '수정 X', '삭제 X()', 'ex2 = (1,2,3)']
['순서 x', '(키)중복 x', '수정 O', '삭제 Odict([]), { : }}', 'ex3 = {1 : ex]']
['순서 x', '중복 x', '수정 O', '삭제 Oset(), {}', 'ex4 = {1,2,3}']

#3교시 조건문

##1.1 조건문을 만들때 주의사항

* 어떤 조건을 설정할것인가?
* 어떤 예외가 발생할것인가?(테스트, 검증)
* (조건문이 작성된 뒤에는) 최소 5~10번정도는 테스트 해봐라

##1.2 조건문 복습

조건문은 다음과 같이 복습하려고 합니다.

1. 단일 조건문
2. If - else 조건문
3. If - elif - else 조건문
4. 다중 중첩 조건문
5. input과 함께 사용하는 조건문

[기억해야할것]

1. if 뒤에는 참과 거짓을 판단하는 조건이 와야함
2. 조건문이 끝나면 반드시 콜론으로 끝나야함
3. if 다음 문장은 들여쓰기를 사용해야함
4. if 조건에 부합하지 않으면 elif나 else를 사용한다. 보통 조건에 모두 부합하지 않을때 else를 사용한다.

[연산자]

* x < x가 작다
* x > x가 크다
* x == y 같다
* x != y 다르다
* x >= y 크거나 같다
* x <= y 작거나 같다

[논리연산자]
2개이상의 조건을 사용하고 싶을때 사용

* and
* or
* not

In [103]:
# if문 예제

x = 2
if x > 1 and x < 10:  # 2가지 조건이 모두 충족할 경우
  print('True')

True

In [104]:
if True:
  print('True')

True

In [105]:
# 1) if는 참이기 때문에 Hello가 출력
if True:
  print('hello') 

# if문과 상관 없음
print('one')

# if는 거짓이기 때문에 아무것도 출력되지 않음
if False:
  print('world')

# if문과 상관 없음
print('two')

hello
one
two

In [106]:
if True:
  print('hello')

hello

In [107]:
print('one')

one

In [108]:
if False:
  print('world')

In [109]:
print('two')

two

In [110]:
x = 10

if x > 5:
  print('hello')
print('end')

if x != 5:
  print('hello')

hello
end
hello

In [111]:
if 1: # 1 = True
  print('hello')
print('end')

hello
end

In [112]:
if 0:
  print('hello')  # 파이썬에서 0은 false -> 실행 안함
print('end')      # 조건문 밖의 print문이라서 실행

end

In [113]:
if -1:
  print('hello')  # 파이썬에서 0을 제외한 숫자 True -> 실행
print('end')

hello
end

In [114]:
#공백이 있는 문자열
if  ' ':
  print('hello')
print('end')

hello
end

In [115]:
#공백이 없는 문자열
if  '':  # 공백이 없음 = 빈 문장 = false
  print('hello')
print('end')

end

In [116]:
if not '':
    print('hello')
print('end')

hello
end

In [117]:
if not None: #None은 False와 같은의미라고 생각하시면 됩니다.
    print('hello')
print('end')

hello
end

In [118]:
if None: 
    print('hello')
print('end')

end

In [131]:
# if, else 문

x = int(input("비교할 수를 입력하세요 : "))
y = int(input("비교할 수를 입력하세요 : "))

if x > y: # False
  print("x가 y보다 큽니다")
else: # True
  print("x가 y보다 작거나 같습니다 ")

비교할 수를 입력하세요 : 4
비교할 수를 입력하세요 : 5
x가 y보다 작거나 같습니다

In [ ]:
# if, elif, else 
if 조건문:
  수행문장1
else 조건문:
  수행문장2
else:
  수행문장3

In [ ]:
if x > y: # False
  print("x가 y보다 큽니다")
elif x < y: #True
  print("x가 y보다 작습니다.")
else: # 실행 x
  print("같습니다")

In [132]:
score = 81
money = 0

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80:
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)

mom : i'm happy!
100000

In [3]:
score = int(input("점수를 입력하세요 : "))
money = 0
if score >= 90:
  print("회사 : 당신을 채용하겠습니다!")
  money += 40000000
elif score >= 80:
  print("회사 : 당신을 채용하겠습니다!")
  money += 40000000
elif score >= 70 and score < 80:
  print("회사 : 채용을 고려해보겠습니다.")
  money += 35000000
elif score >= 60 and score < 70:
    print("회사 : 채용을 고려해보겠습니다.")
    money += 30000000
else:
    print("회사:당신을 채용하지 않겠습니다.")
print(f'연봉 조건은 {money}원 입니다.')

점수를 입력하세요 : 100
회사 : 당신을 채용하겠습니다!
연봉 조건은 40000000원 입니다.

In [121]:
# 중첩 조건문

#if를 중첩해서 사용하기
score = 98

if score >= 90:
    print('mom : i\'m so happy!')
    money += 1000000
    
    if score > 95:
        print('hello world')

        if score > 97:
            print('hello!!!')
            
elif score >= 80:
    print('mom : i\'m happy!')
    money += 100000

mom : i'm so happy!
hello world
hello!!!